[project]
	description = Dbus training
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/daniel-kowalski
[access "refs/for/refs/*"]
	read = group user/daniel-kowalski
	push = group user/daniel-kowalski
	label-Code-Review = -2..+2 group user/daniel-kowalski
	label-Verified = -1..+1 group user/daniel-kowalski
	rebase = group user/daniel-kowalski
	removeReviewer = group user/daniel-kowalski
	submit = group user/daniel-kowalski
[access "refs/heads/*"]
	read = group user/daniel-kowalski
	create = group user/daniel-kowalski
	push = +force group user/daniel-kowalski
	pushMerge = group user/daniel-kowalski
[access "refs/tags/*"]
	push = +force group user/daniel-kowalski
	pushTag = group user/daniel-kowalski
	pushSignedTag = group user/daniel-kowalski
[receive]
	requireChangeId = true
